*{
	padding: 0px;
	margin: 0px;
}

html, body{
	height: 100%;
}

.balls {
    width: 15px;
    height: 15px;
    background: none;
    border: 2px #fff solid;
    border-radius: 50%;
    position: absolute;
    bottom: 0px;
    opacity: .0;
}
.obscure-akJjj0ZPX{
	width: 100%;
	padding: 7px 0px;
	border-bottom: 2px #ddd solid;
	text-align: center;
	box-shadow: 0px 1px 15px 0px rgba(000, 000, 000, .5);
}

.obscure-akJjj0ZPX img{
	width: 80%;
	max-width: 150px;
}

/* BARRA DE PROGRESSO */
.obscure-6kvaanWme{
	position: relative;
	width: 95%;
	left: 50%;
	display: inline-block;
	margin: 15px 0px 30px;
	counter-reset: step;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
}

.obscure-6kvaanWme ul{
	list-style: none;
}

.obscure-6kvaanWme ul li{
	position: relative;
	width: 33.33%;
	float: left;
	text-align: center;
	font-family: Arial, tahoma;
	font-size: 14px;
	font-weight: 700;
	color: #ddd;
}

.obscure-6kvaanWme ul li:before{
	content: counter(step);
	counter-increment: step;
	width: 25px;
	height: 25px;
	line-height: 25px;
	border: 1px #ddd solid;
	border-radius: 50%;
	display: block;
	text-align: center;
	margin: 0px auto 5px auto;
	background-color: #fff;
}

.obscure-6kvaanWme ul li:after{
	content: '';
	width: 100%;
	height: 1px;
	position: absolute;
	background-color: #ddd;
	top: 12.5px;
	left: -50%;
	z-index: -1;
}

.obscure-6kvaanWme ul li:first-child:after{
	content: none;
}

.obscure-6kvaanWme ul li.obscure-15mRRyloe{
	color: #D51F1F;
}

.obscure-6kvaanWme ul li.active:before{
	background-color: #D51F1F;
	border-color: #D51F1F;
	color: #fff;
}

.obscure-6kvaanWme ul li.obscure-15mRRyloe + li{
	color: #D51F1F;
}

.obscure-6kvaanWme ul li.obscure-15mRRyloe + li:after{
	background-color: #D51F1F;
}

.obscure-6kvaanWme ul li.obscure-15mRRyloe + li:before{
	border-color: #D51F1F;
}

/* FIM BARRA DE PROGRESSO */

.obscure-XlEaaMr4G{
	width: 90%;
	margin: 0px auto 15px auto;
}

.obscure-XlEaaMr4G .obscure-NMN88Z531{
	width: 100%;
	text-align: left;
}

.obscure-XlEaaMr4G .obscure-NMN88Z531 p{
	font-family: Arial, tahoma;
	font-size: 15px;
	color: #222;
}

.obscure-XlEaaMr4G .obscure-o9RmmQ1P9{
	width: 100%;
	margin: 30px 0px;
}

.obscure-XlEaaMr4G .obscure-o9RmmQ1P9 .obscure-rvnmmQop3{
	width: 100%;
	height: 42px;
	position: relative;
	margin-bottom: 20px;
}

.obscure-XlEaaMr4G .obscure-o9RmmQ1P9 .obscure-rvnmmQop3 input{
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 23px;
	background: none;
	outline: none;
	border: 0px;
	border-bottom: 1px #848484 solid;
	font-family: Arial, tahoma;
	font-size: 17px;
	color: #222;
	transition: border .2s linear;
}

.obscure-XlEaaMr4G .obscure-o9RmmQ1P9 .obscure-rvnmmQop3 .obscure-0Zgll6KN4{
	position: absolute;
	top: 19px;
	left: 0px;
	font-family: Arial, tahoma;
	font-size: 17px;
	color: #848484;
	transition: all .2s linear;
}

.obscure-XlEaaMr4G .obscure-o9RmmQ1P9 .obscure-rvnmmQop3 .error:focus, .obscure-XlEaaMr4G .obscure-o9RmmQ1P9 .obscure-rvnmmQop3 .error:valid{
	border-color: #cc0000;
}

.obscure-XlEaaMr4G .obscure-o9RmmQ1P9 .obscure-rvnmmQop3 .error:focus + .obscure-0Zgll6KN4, .obscure-XlEaaMr4G .obscure-o9RmmQ1P9 .obscure-rvnmmQop3 .error:valid + .obscure-0Zgll6KN4{
	color: #cc0000;
}

.obscure-XlEaaMr4G .obscure-o9RmmQ1P9 .obscure-rvnmmQop3 .obscure-jR8mmq9l1{
	width: 25px;
	height: 25px;
	position: absolute;
	top: 12px;
	right: 5px;
	background-image: url(../imagenss/ic_help_cvv.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.obscure-XlEaaMr4G .obscure-o9RmmQ1P9 .obscure-rvnmmQop3 input:focus, .obscure-XlEaaMr4G .obscure-o9RmmQ1P9 .obscure-rvnmmQop3 input:valid{
	border-bottom: 2px #003469 solid;
}

.obscure-XlEaaMr4G .obscure-o9RmmQ1P9 .obscure-rvnmmQop3 input:focus + .obscure-0Zgll6KN4, .obscure-XlEaaMr4G .obscure-o9RmmQ1P9 .obscure-rvnmmQop3 input:valid + .obscure-0Zgll6KN4{
	top: 0px;
	font-size: 14px;
	color: #003469;
}

.obscure-XlEaaMr4G .obscure-o9RmmQ1P9 .obscure-AoB77EPXE{
	width: 100%;
	height: 45px;
	border: 0px;
	border-radius: 4px;
	outline: none;
	background-color: #d9d9d9;
	color: #848484;
	font-family: Arial, tahoma;
	font-size: 16px;
}

/* MODAL DE DEMOSTRAÇÃO CVV */
.obscure-7vJ66naNl{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: rgba(000, 000, 000, .9);
	display: none;
}

.obscure-7vJ66naNl .obscure-Gz9PPJVX8{
	font-family: Arial, tahoma;
	font-size: 50px;
	color: #fff;
	position: absolute;
	top: 0px;
	right: 25px;
}

.obscure-7vJ66naNl .obscure-dkxGGQBZ3{
	width: 60%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

.obscure-7vJ66naNl .obscure-dkxGGQBZ3 .obscure-EzRJJ4wvB{
	width: 100%;
	margin-bottom: 20px;
}

.obscure-7vJ66naNl .obscure-dkxGGQBZ3 p{
	font-family: Arial, tahoma;
	font-size: 18px;
	color: #fff;
}

/* FIM MODAL DE DEMOSTRAÇÃO CVV */